{% extends 'base.html' %}
{% block content %}
<h2>This app</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/providers">Providers</a></li>
    <li class="list-group-item"><a href="/admin">Admin</a></li>    
    <li class="list-group-item"><a href="https://github.com/arturoverbel/interview_banks">Github</a></li>
  </ul>

<h2>Personal Links</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="http://arturoverbel.com/">My Personal Blog</a></li>    
    <li class="list-group-item"><a href="https://www.linkedin.com/in/arturo-verbel/">Linkedin</a></li>    
  </ul>
{% endblock content %}